.app-container {
    display: flex;
    padding: 20px;
    background-color: #f0f2f5;
    height: 88vh;
  
    .courses-container,
    .schedule-container {
      flex: 1;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      margin-right: 20px;
  
      &:last-child {
        margin-right: 0;
      }
  
      h3 {
        margin-bottom: 20px;
      }
    }
  
    .new-schedule-button {
      margin-bottom: 20px;
    }
  }
  